{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Main page{% endblock %}</h1>
{% endblock %}

{% block content %}
<a href="{{ url_for('my_app.generate_users')}}">Generate users</a><br>
<a href="{{ url_for('my_app.mean')}}">Mean value</a><br>
<a href="{{ url_for('my_app.requirements')}}">Requirements</a><br>
<a href="{{ url_for('my_app.space')}}">Space info</a><br>
<a href="{{ url_for('tracks_database.names')}}">Unique names of artists</a><br>
<a href="{{ url_for('tracks_database.tracks')}}">All tracks in database</a><br>
<a href="{{ url_for('tracks_database.tracks_sec')}}">Tracks length</a><br>
<a href="{{ url_for('tracks_database.tracks_sec_statistics')}}">Tracks statistics</a>
{% endblock %}